* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    position: relative;
    background: url(jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: circle(200px at var(--1) var(--2));
}
