*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.heading{
    font-size: 10rem;
    font-weight: 900;
    background-image: url("solen-feyissa-uF6SAMRXJ2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}